<% provide(:title, 'Data Query') %>
<h1>Reporting#query</h1>
<p>Find me in app/views/reporting/query.html.erb</p>



<%= form_for :event do |f| %>

  URL <%= text_field(:event, :url, size: 20 ) %>  <br>

<% end %>

<br><br>


<br>
<div class='col-sm-3'>Start Time
            <input type='text' class="form-control" id='datetimepicker1' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>

</div>

<div class="row">
<div class='col-sm-3'>End Time
            <input type='text' class="form-control" id='datetimepicker2' />
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker();
            });
        </script>

</div>

<div class="row">
<div class='col-sm-2'>Duration
            <div class="form-group">
                <div class='input-group date' id='datetimepicker21'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker21').datetimepicker({
                    format: 'Hms',
                    defaultDate: '0'
                    
                });
            });
        </script>
</div>

<br>



<br><br><br>
<br>


















