
<h1>Application Usage: NON Productive Time</h1>

<%= pie_chart @non_bus_hash.to_a %>
<div id="container" style="width:100% ;"></div>

<%= render 'query3' %>

<%= link_to 'New Event', new_event_path %>
